<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div>My address is: "{{ ip_address }}"</div>    
    <h2>Send a Message</h2>
    <form action="{{ url_for('send_message') }}" method="POST">
        <label for="target_ip">Target IP Address:</label>
        <input type="text" id="target_ip" name="target_ip" placeholder="Enter IP address" required>
        <br><br>
        <label for="message">Message:</label>
        <textarea id="message" name="message" placeholder="Enter your message" required></textarea>
        <br><br>
        <button type="submit">Send</button>
    </form>

</body>
</html>